<div class="my-3">
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to omniauth_authorize_path(resource_name, provider), method: :post, class: "btn btn-primary", data: {turbo: "false"} do %>
        <i class="fab fa-<%= provider.to_s.downcase %>"></i>
        <%= OmniAuth::Utils.camelize(provider) %>
        </span>
      <% end %>
    <% end %>
  <% end %>
</div>
