<div class="form-c mt-2">
  <div class="form-c-cols">
    <div class="form-c-cols-first">
      <h3><%= t('users.profile.profile') %></h3>
    </div>
    <div class="form-c-cols-second">
      <%= render 'form' %>
    </div>
  </div>
</div>