root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{rb,rake}]
indent_size = 2

[*.{js,ts,jsx,tsx,vue,svelte}]
indent_size = 2

[*.{css,scss,sass,less}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2