<% if signed_in? && current_user.is_admin? %>
  <li>
    <a href="#" id="navbarAdminDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Admin tools
    </a>
    <ul aria-labelledby="navbarAdminDropdownMenuLink">
      <li>
        <%= link_to "Admin dashboard", admin_dashboard_path %>
      </li>
      <li>
        <%= link_to "Flipper console", "/flipper" %>
      </li>
      <li>
        <%= link_to "Blazer console", "/blazer" %>
      </li>
      <li>
        <%= link_to "Sidekiq console", "/sidekiq" %>
      </li>
    </ul>
  </li>
<% end %>
