<% if signed_in? && current_user.is_admin? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Admin tools
    </a>
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarAdminDropdownMenuLink">
      <li>
        <%= link_to "Admin dashboard", admin_dashboard_path, class: "dropdown-item" %>
      </li>
      <li>
        <%= link_to "Flipper console", "/flipper", class: "dropdown-item" %>
      </li>
      <li>
        <%= link_to "Blazer console", "/blazer", class: "dropdown-item" %>
      </li>
      <li>
        <%= link_to "Sidekiq console", "/sidekiq", class: "dropdown-item" %>
      </li>
    </ul>
  </li>
<% end %>
