<div class="container mt-5">
    <ul>
        <li>
            &copy; <span id="current_year"></span>, All rights reserved.
        </li>      
        <li>
            <%= link_to "Terms", terms_path %>
        </li>
        <li>
            <%= link_to "Privacy", privacy_path %>
        </li>
    </ul>    
</div>