<div class="container mt-5">
  <ul class="list-inline">
    <li class="list-inline-item">
      &copy; <span id="current_year"></span>, All rights reserved.
    </li>
    <li class="list-inline-item">
      <%= link_to "Terms", terms_path %>
    </li>
    <li class="list-inline-item">
      <%= link_to "Privacy", privacy_path %>
    </li>
  </ul>
</div>
