<div>
  <% if @user.photo.attached? %>
    <%= image_tag @user.photo.variant(auto_orient: true, gravity: "center" , resize: "200x200^" ).processed %>
      <% else %>
        <b>No photo</b>
        <% end %>

          <p>
            <%= @user.name %>
          </p>

          <p>
            <%= @user.email %>
          </p>

</div>